.loginContainer {
  display: flex;
  flex-direction: column;
}

.authTab {
  height: 50px;
  width: 135px;
  background-color: white;
  position: absolute;
  top: -50px;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginTab {
  right: 45px;
}

.signUpTab {
  right: 180px;
}

.hiddenTab {
  background-color: #eee;
  color: #888;
}

.loginContainer h3 {
  font-size: 25px;
  margin-bottom: 20px;
  margin: 30px auto 20px 28px;
}

.loginContainer input {
  height: 35px;
  width: 350px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 0 auto;
}

.loginContainer p {
  width: 350px;
  margin: 10px auto;
  display: flex;
}

.authSubmit {
  height: 40px;
  width: 355px;
  background: linear-gradient(45deg, #00bfff 0%, #8a2be2 50%, #ba55d3 100%);
  margin: 20px auto 0 auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.authSubmit p {
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.copyright {
  position: absolute;
  inset: auto 0 10px 0;
  display: flex;
  justify-content: center;
}

.SWIGoogle {
  height: 75px;
  width: 100;
  display: flex;
  align-items: center;
  border: none;
}
.SWIGoogle:hover {
  background-color: white;
}

@media screen and (max-width: 660px) {
  .loginContainer {
    font-size: 12px;
  }
  .loginContainer h3 {
    font-size: 20px;
    margin: 30px auto 5px 28px;
  }
}
