.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #00bfff 0%, #8a2be2 50%, #ba55d3 100%);
  padding: 0 50px;
  --slideInOutAnimation: 2.5s;
  overflow: hidden;
}

/* these are the styles for the left panel */
.leftPanel {
  height: 550px;
  width: 720px;
  min-width: 410px;
  margin-right: 50px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  animation-name: slideInFromLeft;
  animation-duration: var(--slideInOutAnimation);
  overflow: hidden;
}

/* these are the styles for the right panel */
.rightPanel {
  height: 550px;
  min-width: 410px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  animation-name: slideInFromRight;
  animation-duration: var(--slideInOutAnimation);
}

.hiddenPanel {
  display: flex;
}

.switchArrow {
  font-size: 50px;
  margin-left: 10px;
  color: #8a2be2;
  animation-name: buttonColor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes buttonColor {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@media screen and (max-width: 990px) {
  .main {
  }
  .leftPanel {
    max-width: 410px;
    margin-right: 0;
  }

  .leftPanel,
  .rightPanel {
    position: absolute;
  }

  .hiddenPanel {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .leftPanel {
    background-color: red;
    max-width: 300px;
  }
}
