.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #00bfff 0%, #8a2be2 50%, #ba55d3 100%);
}

/* these are the styles for the left panel */
.leftPanel {
  height: 580px;
  width: 720px;
  min-width: 410px;
  margin-right: 50px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.leftPanel h1,
.leftPanel h2 {
  background: linear-gradient(45deg, #00bfff 0%, #8a2be2 50%, #ba55d3 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.leftPanel h1 {
  font-size: 50px;
  margin-top: 40px;
  margin: 40px auto 70px 50px;
}

.leftPanel p {
  margin-left: 50px;
  max-width: 400px;
  margin-bottom: 50px;
  font-size: 20px;
}

.leftPanel h2 {
  font-size: 35px;
  position: absolute;
  inset: auto auto 40px 50px;
}

/* these are the styles for the right panel */
.rightPanel {
  height: 580px;
  min-width: 410px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.rightPanel h3 {
  font-size: 25px;
  margin-bottom: 20px;
  margin: 30px auto 20px 28px;
}

.rightPanel h3:nth-child(1) {
  margin-top: 70px;
}

.rightPanel input {
  height: 35px;
  width: 350px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 0 auto;
}

.rightPanel p {
  width: 350px;
  margin: 10px auto;
}

.loginSubmit {
  height: 40px;
  width: 355px;
  background: linear-gradient(45deg, #00bfff 0%, #8a2be2 50%, #ba55d3 100%);
  margin: 20px auto 0 auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
}

.loginSubmit p {
  color: white;
  font-size: 25px;
}

.SWIGoogle {
  height: 75px;
  width: 100;
  display: flex;
  align-items: center;
  border: none;
}
.SWIGoogle:hover {
  background-color: white;
}
